<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>TextSnipper</string>
	<key>CFBundleIdentifier</key>
	<string>rafiq.tech.TextSnipper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Mohamed Rafiq. All rights reserved. https://www.rafiq.tech</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSCameraUsageDescription</key>
	<string>TextSnipper does not use your camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TextSnipper does not use your microphone.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Used to integrate with system for hotkeys if needed.</string>
	<key>LSBackgroundOnly</key>
	<false/>
</dict>
</plist>
