<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>TextSnipper</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.TextSnipper</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSCameraUsageDescription</key>
	<string>TextSnipper does not use your camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>TextSnipper does not use your microphone.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Used to integrate with system for hotkeys if needed.</string>
	<key>LSBackgroundOnly</key>
	<false/>
</dict>
</plist>
